@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  /* font-family: "Markazi Text", serif; */
}

* {
  font-family: "Julius Sans One", sans-serif;
}

/* ############################# NAV ############################### */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 9%;
}

.modal-close {
  width: 50px;
  align-self: center;
  padding: 3px;
  width: 100px;
  border: 1px solid white;
  border-radius: 8px;
}

.modal-close:hover {
  background-color: #e6e6e6;
  color: #ad0016;
  box-shadow: inset 0 0 0 3px #e6e6e6;
  transition: all 0.5s ease;
  border: 1px solid white;
}

.modal-submit:hover {
  background-color: #e6e6e6;
  color: #ad0016;
  box-shadow: inset 0 0 0 3px #e6e6e6;
  transition: all 0.5s ease;
  border: 1px solid white;
}

#login-close {
  margin-bottom: 2.4rem;
}

.modal-submit {
  width: 50px;
  align-self: center;
  padding: 3px;
  width: 100px;
  border: 1px solid white;
  border-radius: 8px;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.modal-input {
  width: 50%;
  height: 2rem;
  text-align: center;
  margin: 1rem;
}

#signup-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  background-color: #ad0016;
}

.nav-item {
  margin: 1rem 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  border: 1px solid #ad0016;
  border-radius: 10px;
  padding: 6px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: #ad0016;
  border: 1px solid #ad0016;
  border-radius: 13px;
  padding: 5px;
}

.nav-link:hover {
  color: #ad0016;
  background-color: white;
  transition: all 1.2s ease;
}

.fa-child {
  margin: 0 0.4 0 0rem;
}

/* ######################### SIDEBAR ################################# */

#sidebar-container {
  display: inline-block;
  width: 10%;
  background-color: #e6e6e6;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 1rem;
}

.nav-item-side {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.nav-item-side span {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 4px;
}

.nav-item-side span:hover {
  background-color: white;
  color: black;
  box-shadow: inset 0 0 0 3px white;
  transition: all 1.2s ease;
}

#arrows {
  display: flex;
  flex-direction: row;
}

#left-arrow {
  color: gray;
  position: fixed;
  left: 9%;
  top: 51%;
  display: inline-block;
}

#right-arrow {
  color: gray;
  position: fixed;
  display: none;
  top: 51%;
}

#right-arrow:hover,
#left-arrow:hover {
  color: #ad0016;
}

#sidebar-list {
  font-size: 14px;
  margin-top: 4rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  margin-bottom: 0;
  padding: 0;
  align-content: center;
}

#search-button:hover {
  background-color: #e6e6e6;
  color: #ad0016;
  box-shadow: inset 0 0 0 3px #e6e6e6;
  transition: all 1.2s ease;
  border: 1px solid #e6e6e6;
}

#sidebar-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ######################## HOMEPAGE ################################# */

#login {
  display: flex;
  flex-direction: row;
}

#exists {
  display: none;
  color: #ad0016;
}

#match {
  display: none;
  color: #ad0016;
}

#search {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6rem;
  margin-left: 10%;
}

.main-container {
  margin: 2rem auto;
}

.homepage-post {
  background: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homepage-post img {
  height: 90px;
  width: 110px;
}

#search-button {
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 3%;
  width: 250px;
  height: 2rem;
  text-decoration: none;
  margin-top: 1.5rem;
}

#search-button:hover {
  color: #ad0016;
}

a {
  text-decoration: none;
}

#search-box {
  margin-top: 1.5rem;
  margin-right: 3%;
  border: 1px solid white;
  border-radius: 10px;
  width: 250px;
  height: 2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ######################## POSTS #################################### */

.posts {
  height: 20%;
  width: 82%;
  max-width: 1350px;
  margin: 2rem 3rem 2rem 3rem;
  float: right;
}

.post-item img {
  height: 70px;
  margin-left: 2rem;
}

.displayed-votes {
  margin-bottom: 0.2rem;
}

.post-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.post-description p {
  width: 50%;
}

.post-description-show img {
  height: 130px;
  width: 160px;
  margin: 1rem 2rem;
}

.post-description-show {
  text-align: center;
}

.post-detail {
  /* display: inline-block; */
  width: 200px;
}

.post-detail-show {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 3rem;
}

#current-upvotes {
  width: 20px;
}

.post-item {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin: 1rem 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}

.post-item-row {
  display: flex;
  flex-direction: row;
}

.view-button {
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.view-button a {
  font-size: 12px;
}

.view-button:hover {
  background-color: #e6e6e6;
}

.fa-sort-up {
  color: #808080;
  font-size: 3rem;
}

.up-arrow {
  height: 30px;
  align-self: center;
  text-align: center;
  margin-right: 2rem;
}

.up-arrow i {
  height: 30px;
}

.up-arrow i:hover {
  color: #b3b3b3;
}

.up-arrow h3 {
  margin-top: 0;
}

.view-button {
  height: 1.9rem;
}

/* ###########################  SHOWPOST ################################### */

.showpost-container {
  display: flex;
  flex-direction: column;
  margin: 7rem 8rem;
}

.showpost-container img {
  height: 200px;
  width: 250px;
}

.showpost-container button {
  width: 10%;
}

.createForm input {
  border: 1px solid #f7f7f7;
  border-radius: 10px;
}

.createForm textarea {
  border: 1px solid #f7f7f7;
  border-radius: 10px;
}

#title {
  margin: 0;
}

#category {
  margin: 0;
}

#creator {
  margin: 0;
}

#upvotes {
  margin: 0;
}

#upvotes-required {
  margin: 0;
  align-self: center;
}

/* ########################### EDIT POST ################################# */
#edit-textarea {
  width: 70%;
}

.editForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.editForm textarea {
  height: 200px;
  width: 80%;
  margin: 1rem;
}

.editForm input {
  height: 2rem;
  margin: 1rem;
  width: 200px;
}

/* ####################### Create Post Form ######################## */
.createForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

#createpost-container {
  margin-top: 7rem;
}

.createForm input {
  height: 2rem;
  margin: 1rem;
  width: 200px;
}

.form-input {
  height: 3rem;
  margin: auto;
}

.form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.button {
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button:hover {
  background-color: #e6e6e6;
}

.createForm textarea {
  height: 200px;
  width: 80%;
  margin: 1rem;
}

#create-title {
  text-align: center;
}

/* ##############################  PROFILE PAGE  ############################# */
#profile {
  margin: 7rem 3rem 3rem 3rem;
}

/* ####################### Links ####################### */

.link {
  text-decoration: none;
}

.link:hover {
  color: gray;
}

/* #############################  MEDIA QUERIES  ############################## */
@media only screen and (max-width: 860px) {
  * {
    font-size: 14px;
  }

  #search {
    margin-top: 12rem;
  }

  #sidebar-container {
    display: flex !important;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 55px;
    height: 8%;
  }

  #sidebar-container li {
    margin-top: -1.3rem;
  }

  #main-content {
    margin-top: 10rem;
  }

  #sidebar-list {
    margin-top: 1rem;
    list-style-type: none;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 2rem;
    width: 100%;
  }

  #search-button:hover {
    background-color: #e6e6e6;
    color: #ad0016;
    box-shadow: inset 0 0 0 3px #e6e6e6;
    transition: all 1.2s ease;
    border: 1px solid #e6e6e6;
  }

  #sidebar-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #right-arrow,
  #left-arrow {
    display: none !important ;
  }

  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    height: 7%;
  }

  .editForm input {
    height: 1.4rem;
    margin: 0.7rem;
    width: 150px;
  }

  .edit-form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
  }

  .search {
    margin-left: 0;
    margin-top: 9rem;
  }

  .posts {
    width: 94% !important;
  }

  /* ########### 860 ############# */
}

@media only screen and (max-width: 660px) {
  * {
    font-size: 12px;
  }

  #search {
    margin-top: 13rem;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: 10px;
  }

  #sidebar-container li {
    border: none !important;
  }

  .nav-item {
    padding-bottom: 1rem;
  }
}
